.main{
    padding-top: 1px;
}
.example-spacer {
    flex: 1 1 auto;
}
#img{
    width: 50px;
    max-width: 50px;
}
.searchBar{
    width: 50%;
    align-items: center;
}
mat-icon{
    float: left;
    color: black;
}